Repository huggingface/diffusers, pull requests merged in 2024-04, with the labels that each got.

#7491 [Core] refactor transformers 2d into multiple init variants.
  src/diffusers/models/transformers/transformer_2d.py
Labels: refactor

#7222 Allow more arguments to be passed to convert_from_ckpt
  src/diffusers/pipelines/stable_diffusion/convert_from_ckpt.py
Labels: stale

#7499 Multi-image masking for single IP Adapter
  src/diffusers/models/attention_processor.py
  tests/pipelines/ip_adapters/test_ip_adapter_stable_diffusion.py
  tests/pipelines/test_pipelines_common.py
Labels: IPAdapter

#7489 [Core] refactor `transformer_2d` forward logic into meaningful conditions.
  src/diffusers/models/transformers/transformer_2d.py
Labels: refactor

#6848 LCM Distill Scripts Fix Bug when Initializing Target U-Net
  examples/consistency_distillation/train_lcm_distill_sd_wds.py
  examples/consistency_distillation/train_lcm_distill_sdxl_wds.py
Labels: stale

#6381 Add DREAM training
  examples/text_to_image/README.md
  examples/text_to_image/train_text_to_image.py
  src/diffusers/training_utils.py
Labels: stale

#6396 [Core] introduce _no_split_modules to `ModelMixin`
  src/diffusers/models/autoencoders/autoencoder_kl.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/transformer_2d.py
  src/diffusers/models/unets/unet_2d_condition.py
  src/diffusers/pipelines/deprecated/versatile_diffusion/modeling_text_unet.py
  tests/models/test_modeling_common.py
  tests/models/unets/test_models_unet_2d_condition.py
Labels: wip
