Repository huggingface/diffusers, pull requests merged in 2024-01, with the labels that each got.

#6166 [Refactor] spliting`ResnetBlock2D` into multiple blocks
  src/diffusers/models/resnet.py
  src/diffusers/models/unet_2d_blocks.py
  src/diffusers/pipelines/deprecated/versatile_diffusion/modeling_text_unet.py
Labels: refactor

#6628 Fixed the bug related to saving DeepSpeed models.
  examples/text_to_image/README_sdxl.md
  examples/text_to_image/train_text_to_image_lora_sdxl.py
Labels: Good Example PR

#6665 [Feat] add I2VGenXL for image-to-video generation
  docs/source/en/_toctree.yml
  docs/source/en/api/pipelines/i2vgenxl.md
  scripts/convert_i2vgen_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention.py
  src/diffusers/models/unets/__init__.py
  src/diffusers/models/unets/unet_i2vgen_xl.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/i2vgen_xl/__init__.py
  src/diffusers/pipelines/i2vgen_xl/pipeline_i2vgen_xl.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/i2vgen_xl/__init__.py
  tests/pipelines/i2vgen_xl/test_i2vgenxl.py
Labels: video
