Repository huggingface/diffusers, pull requests merged in 2024-03, with the labels that each got.

#7072 [advanced dreambooth lora sdxl] add DoRA training feature
  examples/advanced_diffusion_training/README.md
  examples/advanced_diffusion_training/train_dreambooth_lora_sd15_advanced.py
  examples/advanced_diffusion_training/train_dreambooth_lora_sdxl_advanced.py
Labels: training

#7151 Enable PyTorch's FakeTensorMode for EulerDiscreteScheduler scheduler
  src/diffusers/schedulers/scheduling_euler_discrete.py
Labels: ONNX

#7174 add TCD Scheduler
  docs/source/en/_toctree.yml
  docs/source/en/api/schedulers/tcd.md
  src/diffusers/__init__.py
  src/diffusers/schedulers/__init__.py
  src/diffusers/schedulers/scheduling_tcd.py
  src/diffusers/utils/dummy_pt_objects.py
  tests/schedulers/test_scheduler_tcd.py
Labels: scheduler

#6473 SDXL Turbo support and example launch
  examples/research_projects/diffusion_dpo/README.md
  examples/research_projects/diffusion_dpo/train_diffusion_dpo_sdxl.py
Labels: training

#7230 fix: support for loading playground v2.5 single file checkpoint.
  src/diffusers/loaders/single_file.py
  src/diffusers/loaders/single_file_utils.py
Labels: single_file

#7128 Change step_offset scheduler docstrings
  examples/community/latent_consistency_img2img.py
  examples/community/latent_consistency_txt2img.py
  examples/community/scheduling_ufogen.py
  src/diffusers/schedulers/scheduling_ddim.py
  src/diffusers/schedulers/scheduling_ddim_flax.py
  src/diffusers/schedulers/scheduling_ddim_inverse.py
  src/diffusers/schedulers/scheduling_ddim_parallel.py
  src/diffusers/schedulers/scheduling_ddpm.py
  src/diffusers/schedulers/scheduling_ddpm_parallel.py
  src/diffusers/schedulers/scheduling_deis_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_multistep_inverse.py
  src/diffusers/schedulers/scheduling_dpmsolver_sde.py
  src/diffusers/schedulers/scheduling_euler_ancestral_discrete.py
  src/diffusers/schedulers/scheduling_euler_discrete.py
  src/diffusers/schedulers/scheduling_heun_discrete.py
  src/diffusers/schedulers/scheduling_k_dpm_2_ancestral_discrete.py
  src/diffusers/schedulers/scheduling_k_dpm_2_discrete.py
  src/diffusers/schedulers/scheduling_lcm.py
  src/diffusers/schedulers/scheduling_lms_discrete.py
  src/diffusers/schedulers/scheduling_pndm.py
  src/diffusers/schedulers/scheduling_pndm_flax.py
  src/diffusers/schedulers/scheduling_sasolver.py
  src/diffusers/schedulers/scheduling_tcd.py
  src/diffusers/schedulers/scheduling_unipc_multistep.py
Labels: scheduler

#7316 [LoRA test suite] refactor the test suite and cleanse it
  .github/workflows/pr_test_peft_backend.yml
  examples/community/imagic_stable_diffusion.py
  examples/community/seed_resize_stable_diffusion.py
  examples/community/unclip_text_interpolation.py
  examples/research_projects/multi_token_textual_inversion/multi_token_clip.py
  examples/research_projects/promptdiffusion/convert_original_promptdiffusion_to_diffusers.py
  scripts/change_naming_configs_and_checkpoints.py
  scripts/convert_i2vgen_to_diffusers.py
  scripts/convert_ldm_original_checkpoint_to_diffusers.py
  scripts/convert_lora_safetensor_to_diffusers.py
  scripts/convert_ms_text_to_video_to_diffusers.py
  scripts/convert_ncsnpp_original_checkpoint_to_diffusers.py
  scripts/convert_original_audioldm2_to_diffusers.py
  scripts/convert_original_audioldm_to_diffusers.py
  scripts/convert_original_controlnet_to_diffusers.py
  scripts/convert_original_musicldm_to_diffusers.py
  scripts/convert_original_stable_diffusion_to_diffusers.py
  scripts/convert_versatile_diffusion_to_diffusers.py
  scripts/convert_zero123_to_diffusers.py
  src/diffusers/configuration_utils.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/modeling_flax_pytorch_utils.py
  src/diffusers/models/modeling_pytorch_flax_utils.py
  src/diffusers/pipelines/stable_diffusion/convert_from_ckpt.py
  src/diffusers/utils/doc_utils.py
  src/diffusers/utils/logging.py
  src/diffusers/utils/peft_utils.py
  src/diffusers/utils/state_dict_utils.py
  src/diffusers/utils/torch_utils.py
  tests/lora/test_lora_layers_peft.py
  tests/lora/test_lora_layers_sd.py
  tests/lora/test_lora_layers_sdxl.py
  tests/lora/utils.py
  utils/custom_init_isort.py
  utils/stale.py
Labels: refactor
