Repository huggingface/diffusers, pull requests merged in 2024-10, with the labels that each got.

#9537 Fixed noise_pred_text referenced before assignment.
  src/diffusers/pipelines/pag/pag_utils.py
  src/diffusers/pipelines/pag/pipeline_pag_hunyuandit.py
  src/diffusers/pipelines/pag/pipeline_pag_sd.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_xl.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_xl_img2img.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_xl_inpaint.py
Labels: PAG

#9510 [LoRA] allow loras to be loaded with low_cpu_mem_usage.
  docs/source/en/tutorials/using_peft_for_inference.md
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/unet.py
  src/diffusers/utils/testing_utils.py
  tests/lora/utils.py
Labels: peft

#9463 add PAG support for SD Img2Img
  docs/source/en/api/pipelines/pag.md
  src/diffusers/__init__.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/pag/__init__.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_img2img.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/pag/test_pag_sd_img2img.py
Labels: PAG

#9213 [Quantization] Add quantization support for `bitsandbytes`
  docs/source/en/_toctree.yml
  docs/source/en/api/quantization.md
  docs/source/en/quantization/bitsandbytes.md
  docs/source/en/quantization/overview.md
  src/diffusers/__init__.py
  src/diffusers/configuration_utils.py
  src/diffusers/models/model_loading_utils.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/pipelines/pipeline_utils.py
  src/diffusers/quantizers/__init__.py
  src/diffusers/quantizers/auto.py
  src/diffusers/quantizers/base.py
  src/diffusers/quantizers/bitsandbytes/__init__.py
  src/diffusers/quantizers/bitsandbytes/bnb_quantizer.py
  src/diffusers/quantizers/bitsandbytes/utils.py
  src/diffusers/quantizers/quantization_config.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/import_utils.py
  src/diffusers/utils/loading_utils.py
  src/diffusers/utils/testing_utils.py
  tests/quantization/bnb/README.md
  tests/quantization/bnb/__init__.py
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
Labels: quantization

#9004 [bugfix] reduce float value error when adding noise
  examples/controlnet/train_controlnet.py
  examples/controlnet/train_controlnet_sdxl.py
Labels: scheduler

#9449 [LoRA] fix: lora loading when using with a device_mapped model.
  docs/source/en/training/distributed_inference.md
  src/diffusers/loaders/lora_base.py
  src/diffusers/loaders/unet.py
  src/diffusers/pipelines/pipeline_loading_utils.py
  src/diffusers/pipelines/pipeline_utils.py
  tests/pipelines/audioldm2/test_audioldm2.py
  tests/pipelines/controlnet/test_controlnet.py
  tests/pipelines/controlnet/test_controlnet_img2img.py
  tests/pipelines/controlnet/test_controlnet_inpaint.py
  tests/pipelines/controlnet/test_controlnet_sdxl.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/kandinsky/test_kandinsky_combined.py
  tests/pipelines/kandinsky2_2/test_kandinsky_combined.py
  tests/pipelines/musicldm/test_musicldm.py
  tests/pipelines/stable_cascade/test_stable_cascade_combined.py
  tests/pipelines/stable_diffusion_adapter/test_stable_diffusion_adapter.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl_adapter.py
  tests/pipelines/stable_unclip/test_stable_unclip.py
  tests/pipelines/stable_unclip/test_stable_unclip_img2img.py
  tests/pipelines/test_pipelines_common.py
  tests/pipelines/unidiffuser/test_unidiffuser.py
  tests/pipelines/wuerstchen/test_wuerstchen_combined.py
Labels: lora
