Repository huggingface/diffusers, pull requests merged in 2024-12, with the labels that each got.

#10058 fix link in the docs
  docs/source/en/training/create_dataset.md
  docs/source/ko/api/pipelines/stable_diffusion/stable_diffusion_xl.md
  docs/source/ko/training/create_dataset.md
  docs/source/ko/training/lora.md
Labels: close-to-merge

#9807 fix: missing AutoencoderKL lora adapter
  src/diffusers/models/autoencoders/autoencoder_kl.py
  tests/models/autoencoders/test_models_vae.py
Labels: close-to-merge

#9579 Fix some documentation in ./src/diffusers/models/embeddings.py for demo
  src/diffusers/models/embeddings.py
Labels: close-to-merge

#9932 Add StableDiffusion3PAGImg2Img Pipeline + Fix SD3 Unconditional PAG
  docs/source/en/api/pipelines/pag.md
  src/diffusers/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/pag/__init__.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_3_img2img.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/pag/test_pag_sd3_img2img.py
Labels: close-to-merge

#7067 update
  examples/controlnet/train_controlnet.py
  examples/controlnet/train_controlnet_sdxl.py
  examples/text_to_image/train_text_to_image_sdxl.py
Labels: close-to-merge

#9384 [Bug fix] "previous_timestep()" in DDPM scheduling compatible with "trailing" and "linspace" options
  src/diffusers/schedulers/scheduling_ddpm.py
  src/diffusers/schedulers/scheduling_ddpm_parallel.py
  src/diffusers/schedulers/scheduling_lcm.py
  src/diffusers/schedulers/scheduling_tcd.py
Labels: scheduler

#10109 add torch_xla support in pipeline_stable_audio.py
  src/diffusers/pipelines/stable_audio/pipeline_stable_audio.py
Labels: close-to-merge

#9840 [bitsandbytes] allow directly CUDA placements of pipelines loaded with bnb components
  src/diffusers/pipelines/pipeline_utils.py
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
Labels: close-to-merge

#10056 [Flux Redux] add prompt & multiple image input
  src/diffusers/pipelines/flux/pipeline_flux_prior_redux.py
Labels: close-to-merge

#10095 Fix a bug in the state dict judgment in ip_adapter.py.
  src/diffusers/loaders/ip_adapter.py
Labels: close-to-merge

#10065 Fix a bug for SD35 control net training and improve control net block index
  src/diffusers/models/controlnets/controlnet_sd3.py
  src/diffusers/models/transformers/transformer_sd3.py
Labels: close-to-merge

#10069 Use torch.device instead of current device index for BnB quantizer
  src/diffusers/models/model_loading_utils.py
  src/diffusers/models/modeling_utils.py
Labels: close-to-merge, roadmap

#10012 [Guide] Quantize your Diffusion Models with `bnb`
  docs/source/en/quantization/bitsandbytes.md
Labels: roadmap

#9708 [DC-AE] Add the official Deep Compression Autoencoder code(32x,64x,128x compression ratio);
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoder_dc.md
  scripts/convert_dcae_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_dc.py
  src/diffusers/models/autoencoders/vae.py
  src/diffusers/models/normalization.py
  src/diffusers/utils/dummy_pt_objects.py
  tests/models/autoencoders/test_models_autoencoder_dc.py
Labels: roadmap

#10125 fixed a dtype bfloat16 bug in torch_utils.py
  src/diffusers/utils/torch_utils.py
Labels: close-to-merge

#9864 Update ptxla training
  examples/research_projects/pytorch_xla/README.md
  examples/research_projects/pytorch_xla/train_text_to_image_xla.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/import_utils.py
Labels: close-to-merge

#9860 support sd3.5 for controlnet example
  examples/controlnet/README_sd3.md
  examples/controlnet/test_controlnet.py
  examples/controlnet/train_controlnet_sd3.py
  src/diffusers/models/transformers/transformer_sd3.py
  tests/pipelines/controlnet_sd3/test_controlnet_sd3.py
Labels: close-to-merge

#10168 [Single file] Support `revision` argument when loading single file config
  src/diffusers/loaders/single_file_model.py
Labels: single_file

#10135 [Single File] LTX support for loading original weights
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/autoencoders/autoencoder_kl_ltx.py
  src/diffusers/models/transformers/transformer_ltx.py
Labels: close-to-merge

#9999 Flux Control LoRA
  docs/source/en/api/pipelines/flux.md
  src/diffusers/loaders/lora_conversion_utils.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/utils/peft_utils.py
  tests/lora/test_lora_layers_flux.py
Labels: close-to-merge, roadmap

#9386 Add PAG Support for Stable Diffusion Inpaint Pipeline
  docs/source/en/api/pipelines/pag.md
  src/diffusers/__init__.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/pag/__init__.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_inpaint.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/pag/test_pag_sd_inpaint.py
Labels: contributions-welcome, PAG, close-to-merge

#10176 Added Error when len(gligen_images ) is not equal to len(gligen_phrases) in StableDiffusionGLIGENTextImagePipeline
  src/diffusers/pipelines/stable_diffusion_gligen/pipeline_stable_diffusion_gligen_text_image.py
Labels: close-to-merge

#10131 Add ControlNetUnion
  docs/source/en/_toctree.yml
  docs/source/en/api/models/controlnet_union.md
  docs/source/en/api/pipelines/controlnet_union.md
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/controlnets/__init__.py
  src/diffusers/models/controlnets/controlnet_union.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/controlnet/__init__.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_union_inpaint_sd_xl.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_union_sd_xl.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_union_sd_xl_img2img.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
Labels: roadmap, need-test

#10130 [WIP][Training] Flux Control LoRA training script
  examples/flux-control/README.md
  examples/flux-control/requirements.txt
  examples/flux-control/train_control_flux.py
  examples/flux-control/train_control_lora_flux.py
Labels: training

#10021 [core] LTX Video
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoderkl_ltx_video.md
  docs/source/en/api/models/ltx_video_transformer3d.md
  docs/source/en/api/pipelines/ltx_video.md
  scripts/convert_ltx_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_kl_ltx.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_ltx.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/ltx/__init__.py
  src/diffusers/pipelines/ltx/pipeline_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  src/diffusers/pipelines/ltx/pipeline_output.py
  src/diffusers/schedulers/scheduling_flow_match_euler_discrete.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/transformers/test_models_transformer_ltx.py
  tests/pipelines/ltx/__init__.py
  tests/pipelines/ltx/test_ltx.py
  tests/pipelines/ltx/test_ltx_image2video.py
Labels: roadmap

#10166 update StableDiffusion3Img2ImgPipeline.add image size validation
  src/diffusers/pipelines/pag/pipeline_pag_sd_3_img2img.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3_img2img.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3_inpaint.py
Labels: close-to-merge

#10133 Remove mps workaround for fp16 GELU, which is now supported natively
  src/diffusers/models/activations.py
Labels: close-to-merge

#10199 [RF inversion community pipeline] add eta_decay
  examples/community/pipeline_flux_rf_inversion.py
Labels: close-to-merge

#10156 Use `torch` in `get_2d_sincos_pos_embed` and `get_3d_sincos_pos_embed`
  src/diffusers/models/embeddings.py
  src/diffusers/models/transformers/latte_transformer_3d.py
  src/diffusers/pipelines/unidiffuser/modeling_uvit.py
Labels: close-to-merge

#7918 add reshape to fix use_memory_efficient_attention in flax
  src/diffusers/models/attention_flax.py
Labels: stale

#9982 [Sana] Add Sana, including `SanaPipeline`, `SanaPAGPipeline`, `LinearAttentionProcessor`, `Flow-based DPM-sovler` and so on.
  docs/source/en/_toctree.yml
  docs/source/en/api/models/sana_transformer2d.md
  docs/source/en/api/pipelines/sana.md
  scripts/convert_sana_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/autoencoder_dc.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/sana_transformer.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/pag/__init__.py
  src/diffusers/pipelines/pag/pipeline_pag_sana.py
  src/diffusers/pipelines/sana/__init__.py
  src/diffusers/pipelines/sana/pipeline_output.py
  src/diffusers/pipelines/sana/pipeline_sana.py
  src/diffusers/schedulers/scheduling_deis_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_multistep_inverse.py
  src/diffusers/schedulers/scheduling_dpmsolver_singlestep.py
  src/diffusers/schedulers/scheduling_sasolver.py
  src/diffusers/schedulers/scheduling_unipc_multistep.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/transformers/test_models_transformer_sana.py
  tests/pipelines/pag/test_pag_sana.py
  tests/pipelines/sana/__init__.py
  tests/pipelines/sana/test_sana.py
Labels: close-to-merge, roadmap

#10136 [core] Hunyuan Video
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoder_kl_hunyuan_video.md
  docs/source/en/api/models/hunyuan_video_transformer_3d.md
  docs/source/en/api/pipelines/hunyuan_video.md
  scripts/convert_hunyuan_video_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/activations.py
  src/diffusers/models/attention.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_kl_hunyuan_video.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_hunyuan_video.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/hunyuan_video/__init__.py
  src/diffusers/pipelines/hunyuan_video/pipeline_hunyuan_video.py
  src/diffusers/pipelines/hunyuan_video/pipeline_output.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/autoencoders/test_models_autoencoder_hunyuan_video.py
  tests/models/transformers/test_models_transformer_hunyuan_video.py
  tests/pipelines/hunyuan_video/__init__.py
  tests/pipelines/hunyuan_video/test_hunyuan_video.py
Labels: close-to-merge, roadmap

#10009 [core] TorchAO Quantizer
  docs/source/en/_toctree.yml
  docs/source/en/api/quantization.md
  docs/source/en/quantization/overview.md
  docs/source/en/quantization/torchao.md
  src/diffusers/__init__.py
  src/diffusers/models/model_loading_utils.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/quantizers/auto.py
  src/diffusers/quantizers/quantization_config.py
  src/diffusers/quantizers/torchao/__init__.py
  src/diffusers/quantizers/torchao/torchao_quantizer.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/import_utils.py
  src/diffusers/utils/testing_utils.py
  tests/quantization/torchao/README.md
  tests/quantization/torchao/test_torchao.py
Labels: quantization, close-to-merge, roadmap

#10228 [LoRA] Support LTX Video
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/transformers/transformer_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  tests/lora/test_lora_layers_ltx_video.py
Labels: lora, roadmap

#9964 [Single File] Add GGUF support
  .github/workflows/nightly_tests.yml
  docs/source/en/_toctree.yml
  docs/source/en/api/quantization.md
  docs/source/en/quantization/gguf.md
  docs/source/en/quantization/overview.md
  src/diffusers/__init__.py
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/model_loading_utils.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/quantizers/auto.py
  src/diffusers/quantizers/bitsandbytes/bnb_quantizer.py
  src/diffusers/quantizers/gguf/__init__.py
  src/diffusers/quantizers/gguf/gguf_quantizer.py
  src/diffusers/quantizers/gguf/utils.py
  src/diffusers/quantizers/quantization_config.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/constants.py
  src/diffusers/utils/import_utils.py
  src/diffusers/utils/testing_utils.py
  tests/quantization/gguf/test_gguf.py
Labels: roadmap

#10033 Fix Mochi Quality Issues
  src/diffusers/models/attention_processor.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/normalization.py
  src/diffusers/models/transformers/transformer_mochi.py
  src/diffusers/pipelines/ltx/pipeline_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  src/diffusers/pipelines/mochi/pipeline_mochi.py
Labels: close-to-merge, roadmap

#10234 [LoRA] feat: lora support for SANA.
  examples/dreambooth/REAMDE_sana.md
  examples/dreambooth/requirements_sana.txt
  examples/dreambooth/train_dreambooth_lora_sana.py
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/transformers/sana_transformer.py
  src/diffusers/pipelines/pag/pipeline_pag_sana.py
  src/diffusers/pipelines/sana/pipeline_sana.py
  tests/lora/test_lora_layers_sana.py
  tests/lora/utils.py
Labels: lora, roadmap

#10155 Use `torch` in `get_2d_rotary_pos_embed`
  examples/community/pipeline_hunyuandit_differential_img2img.py
  src/diffusers/models/embeddings.py
  src/diffusers/pipelines/controlnet_hunyuandit/pipeline_hunyuandit_controlnet.py
  src/diffusers/pipelines/hunyuandit/pipeline_hunyuandit.py
  src/diffusers/pipelines/pag/pipeline_pag_hunyuandit.py
Labels: close-to-merge, roadmap

#9818 Support pass kwargs to sd3 custom attention processor
  src/diffusers/models/attention.py
  src/diffusers/models/transformers/transformer_sd3.py
Labels: close-to-merge

#10192 Flux Control(Depth/Canny) + Inpaint
  docs/source/en/_toctree.yml
  docs/source/en/api/pipelines/control_flux_inpaint.md
  src/diffusers/__init__.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/flux/__init__.py
  src/diffusers/pipelines/flux/pipeline_flux_control_inpaint.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/flux/test_pipeline_flux_control_inpaint.py
Labels: close-to-merge

#9980 Update lora_conversion_utils.py
  src/diffusers/loaders/lora_conversion_utils.py
Labels: close-to-merge

#10254 [LoRA] Support HunyuanVideo
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/transformers/transformer_hunyuan_video.py
  src/diffusers/pipelines/hunyuan_video/pipeline_hunyuan_video.py
  tests/lora/test_lora_layers_hunyuanvideo.py
  tests/lora/utils.py
Labels: roadmap

#10181 unet's `sample_size` attribute is to accept tuple(h, w) in `StableDiffusionPipeline`
  src/diffusers/models/unets/unet_2d_condition.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py
  tests/pipelines/stable_diffusion/test_stable_diffusion.py
Labels: close-to-merge

#7201 Enable Gradient Checkpointing for UNet2DModel (New)
  src/diffusers/models/unets/unet_2d.py
  src/diffusers/models/unets/unet_2d_blocks.py
  src/diffusers/pipelines/deprecated/versatile_diffusion/modeling_text_unet.py
  tests/models/autoencoders/test_models_autoencoder_kl.py
  tests/models/autoencoders/test_models_autoencoder_kl_temporal_decoder.py
  tests/models/test_modeling_common.py
  tests/models/unets/test_models_unet_2d.py
Labels: close-to-merge

#9987 [WIP] SD3.5 IP-Adapter Pipeline Integration
  docs/source/en/_toctree.yml
  docs/source/en/api/attnprocessor.md
  docs/source/en/api/loaders/ip_adapter.md
  docs/source/en/api/loaders/transformer_sd3.md
  docs/source/en/api/pipelines/stable_diffusion/stable_diffusion_3.md
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/ip_adapter.py
  src/diffusers/loaders/transformer_sd3.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/transformers/transformer_sd3.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3.py
  tests/pipelines/stable_diffusion_3/test_pipeline_stable_diffusion_3.py
Labels: close-to-merge, roadmap

#10256 Add support for sharded models when TorchAO quantization is enabled
  src/diffusers/models/modeling_utils.py
  tests/quantization/torchao/test_torchao.py
Labels: roadmap

#10259 [LoRA] feat: support loading regular Flux LoRAs into Flux Control, and Fill
  docs/source/en/api/pipelines/flux.md
  src/diffusers/loaders/lora_pipeline.py
  tests/lora/test_lora_layers_flux.py
Labels: lora

#10261 Support Flux IP Adapter
  scripts/convert_flux_xlabs_ipadapter_to_diffusers.py
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/ip_adapter.py
  src/diffusers/loaders/transformer_flux.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/pipelines/flux/pipeline_flux.py
  src/diffusers/pipelines/flux/pipeline_flux_control.py
  tests/models/transformers/test_models_transformer_flux.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/test_pipelines_common.py
Labels: roadmap

#10291 flux controlnet inpaint config bug
  src/diffusers/pipelines/flux/pipeline_flux_controlnet_inpainting.py
Labels: close-to-merge

#10293 Bump minimum TorchAO version to 0.7.0
  src/diffusers/quantizers/torchao/torchao_quantizer.py
  src/diffusers/utils/testing_utils.py
  tests/quantization/torchao/test_torchao.py
Labels: quantization

#10271 [tests] Refactor TorchAO serialization fast tests
  tests/quantization/torchao/test_torchao.py
Labels: quantization

#10330 [core] LTX Video 0.9.1
  docs/source/en/api/pipelines/ltx_video.md
  scripts/convert_ltx_to_diffusers.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/autoencoders/autoencoder_kl_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  tests/lora/test_lora_layers_ltx_video.py
  tests/models/autoencoders/test_models_autoencoder_ltx_video.py
  tests/pipelines/ltx/test_ltx.py
  tests/pipelines/ltx/test_ltx_image2video.py
Labels: roadmap

#10346 Make passing the IP Adapter mask to the attention mechanism optional
  src/diffusers/models/attention_processor.py
Labels: close-to-merge

#10356 [tests] fix `AssertionError: Torch not compiled with CUDA enabled`
  tests/single_file/single_file_testing_utils.py
  tests/single_file/test_stable_diffusion_controlnet_img2img_single_file.py
  tests/single_file/test_stable_diffusion_controlnet_inpaint_single_file.py
  tests/single_file/test_stable_diffusion_controlnet_single_file.py
  tests/single_file/test_stable_diffusion_upscale_single_file.py
  tests/single_file/test_stable_diffusion_xl_adapter_single_file.py
  tests/single_file/test_stable_diffusion_xl_controlnet_single_file.py
  tests/single_file/test_stable_diffusion_xl_img2img_single_file.py
Labels: close-to-merge

#10371 Fix TorchAO related bugs; revert device_map changes
  .github/workflows/nightly_tests.yml
  docs/source/en/quantization/torchao.md
  src/diffusers/models/modeling_utils.py
  src/diffusers/quantizers/torchao/torchao_quantizer.py
  tests/quantization/torchao/test_torchao.py
Labels: quantization

#10365 Add torch_xla support to pipeline_aura_flow.py
  src/diffusers/pipelines/aura_flow/pipeline_aura_flow.py
Labels: close-to-merge

#10364 [Add] torch_xla support to pipeline_sana.py
  src/diffusers/pipelines/sana/pipeline_sana.py
Labels: close-to-merge
