Repository huggingface/diffusers, pull requests merged in 2024-02, with the labels that each got.

#6738 [Refactor] harmonize the module structure for models in tests
  tests/models/autoencoders/__init__.py
  tests/models/autoencoders/test_models_vae.py
  tests/models/autoencoders/test_models_vae_flax.py
  tests/models/autoencoders/test_models_vq.py
  tests/models/unets/__init__.py
  tests/models/unets/test_models_unet_1d.py
  tests/models/unets/test_models_unet_2d.py
  tests/models/unets/test_models_unet_2d_condition.py
  tests/models/unets/test_models_unet_2d_flax.py
  tests/models/unets/test_models_unet_3d_condition.py
  tests/models/unets/test_models_unet_motion.py
  tests/models/unets/test_models_unet_spatiotemporal.py
  tests/models/unets/test_unet_2d_blocks.py
  tests/models/unets/test_unet_blocks_common.py
  tests/pipelines/test_pipelines_common.py
Labels: refactor

#6251 Fix Compatibility Issues in stable_diffusion_xl_reference.py
  examples/community/stable_diffusion_xl_reference.py
Labels: stale

#6971 [Core] Harmonize single file ckpt model loading
  src/diffusers/loaders/single_file.py
  src/diffusers/loaders/single_file_utils.py
Labels: refactor

#6847 IP-Adapter attention masking
  docs/source/en/using-diffusers/ip_adapter.md
  src/diffusers/image_processor.py
  src/diffusers/models/attention_processor.py
  tests/pipelines/ip_adapters/test_ip_adapter_stable_diffusion.py
Labels: Good Example PR

#6596 update header
  examples/community/README.md
Labels: stale

#6670 Update checkpoint_merger pipeline to pass the "variant" argument
  examples/community/checkpoint_merger.py
Labels: stale

#6862 IPAdapterTesterMixin
  src/diffusers/pipelines/animatediff/pipeline_animatediff.py
  src/diffusers/pipelines/animatediff/pipeline_animatediff_video2video.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_img2img.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_inpaint.py
  src/diffusers/pipelines/latent_consistency_models/pipeline_latent_consistency_img2img.py
  src/diffusers/pipelines/latent_consistency_models/pipeline_latent_consistency_text2img.py
  src/diffusers/pipelines/pia/pipeline_pia.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_img2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion_panorama/pipeline_stable_diffusion_panorama.py
  tests/models/unets/test_models_unet_2d_condition.py
  tests/pipelines/animatediff/test_animatediff.py
  tests/pipelines/animatediff/test_animatediff_video2video.py
  tests/pipelines/controlnet/test_controlnet.py
  tests/pipelines/controlnet/test_controlnet_img2img.py
  tests/pipelines/controlnet/test_controlnet_inpaint.py
  tests/pipelines/controlnet/test_controlnet_sdxl.py
  tests/pipelines/controlnet/test_controlnet_sdxl_img2img.py
  tests/pipelines/latent_consistency_models/test_latent_consistency_models.py
  tests/pipelines/latent_consistency_models/test_latent_consistency_models_img2img.py
  tests/pipelines/pia/test_pia.py
  tests/pipelines/stable_diffusion/test_stable_diffusion.py
  tests/pipelines/stable_diffusion/test_stable_diffusion_img2img.py
  tests/pipelines/stable_diffusion/test_stable_diffusion_inpaint.py
  tests/pipelines/stable_diffusion/test_stable_diffusion_instruction_pix2pix.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl_adapter.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl_img2img.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl_inpaint.py
  tests/pipelines/test_pipelines_common.py
Labels: Good Example PR

#7097 DPMSolverMultistep add `rescale_betas_zero_snr`
  src/diffusers/schedulers/scheduling_dpmsolver_multistep.py
  tests/schedulers/test_scheduler_dpm_multi.py
Labels: scheduler
