Repository huggingface/diffusers, pull requests merged in 2025-09, with the labels that each got.

#12335 Fix autoencoder_kl_wan.py bugs for Wan2.2 VAE
  src/diffusers/models/autoencoders/autoencoder_kl_wan.py
Labels: close-to-merge

#12289 Fix many type hint errors
  src/diffusers/models/attention.py
  src/diffusers/models/transformers/auraflow_transformer_2d.py
  src/diffusers/models/transformers/cogvideox_transformer_3d.py
  src/diffusers/models/transformers/consisid_transformer_3d.py
  src/diffusers/models/transformers/lumina_nextdit2d.py
  src/diffusers/models/transformers/transformer_bria.py
  src/diffusers/models/transformers/transformer_cogview3plus.py
  src/diffusers/models/transformers/transformer_cogview4.py
  src/diffusers/models/transformers/transformer_hidream_image.py
  src/diffusers/models/transformers/transformer_hunyuan_video.py
  src/diffusers/models/transformers/transformer_hunyuan_video_framepack.py
Labels: close-to-merge

#12315 [tests] Single scheduler in lora tests
  tests/lora/test_lora_layers_auraflow.py
  tests/lora/test_lora_layers_cogvideox.py
  tests/lora/test_lora_layers_cogview4.py
  tests/lora/test_lora_layers_flux.py
  tests/lora/test_lora_layers_hunyuanvideo.py
  tests/lora/test_lora_layers_ltx_video.py
  tests/lora/test_lora_layers_lumina2.py
  tests/lora/test_lora_layers_mochi.py
  tests/lora/test_lora_layers_qwenimage.py
  tests/lora/test_lora_layers_sana.py
  tests/lora/test_lora_layers_sd3.py
  tests/lora/test_lora_layers_wan.py
  tests/lora/test_lora_layers_wanvace.py
  tests/lora/utils.py
Labels: great-unbloating

#11941 Context Parallel w/ Ring & Ulysses & Unified Attention
  docs/source/en/_toctree.yml
  docs/source/en/api/parallel.md
  src/diffusers/__init__.py
  src/diffusers/hooks/__init__.py
  src/diffusers/hooks/context_parallel.py
  src/diffusers/models/__init__.py
  src/diffusers/models/_modeling_parallel.py
  src/diffusers/models/attention_dispatch.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/transformer_bria.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/models/transformers/transformer_ltx.py
  src/diffusers/models/transformers/transformer_qwenimage.py
  src/diffusers/models/transformers/transformer_skyreels_v2.py
  src/diffusers/models/transformers/transformer_wan.py
  src/diffusers/utils/dummy_pt_objects.py
Labels: roadmap
