Repository huggingface/diffusers, pull requests merged in 2025-06, with the labels that each got.

#11670 [tests] add test for torch.compile + group offloading
  tests/models/test_modeling_common.py
Labels: performance, torch.compile

#11324 [LoRA] parse metadata from LoRA and save metadata
  examples/community/ip_adapter_face_id.py
  src/diffusers/loaders/ip_adapter.py
  src/diffusers/loaders/lora_base.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/loaders/unet.py
  src/diffusers/utils/state_dict_utils.py
  src/diffusers/utils/testing_utils.py
  tests/lora/test_lora_layers_wan.py
  tests/lora/utils.py
  tests/models/test_modeling_common.py
Labels: lora

#11776 [tests] add a test on torch compile for varied resolutions
  docs/source/en/optimization/fp16.md
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_flux.py
Labels: performance, torch.compile

#11697 TorchAO compile + offloading tests
  tests/quantization/bnb/test_4bit.py
  tests/quantization/bnb/test_mixed_int8.py
  tests/quantization/test_torch_compile_utils.py
  tests/quantization/torchao/test_torchao.py
Labels: performance, torch.compile

#11804 Support dynamically loading/unloading loras with group offloading
  src/diffusers/hooks/group_offloading.py
  src/diffusers/loaders/lora_base.py
  src/diffusers/loaders/peft.py
  src/diffusers/loaders/unet.py
  tests/lora/test_lora_layers_cogvideox.py
  tests/lora/test_lora_layers_cogview4.py
  tests/lora/utils.py
Labels: roadmap
