Repository huggingface/diffusers, pull requests merged in 2025-04, with the labels that each got.

#10301 allow models to run with a user-provided dtype map instead of a single dtype
  src/diffusers/models/modeling_utils.py
  src/diffusers/pipelines/pipeline_loading_utils.py
  src/diffusers/pipelines/pipeline_utils.py
  tests/pipelines/test_pipelines_common.py
Labels: wip, roadmap

#7615 [Model Card] standardize advanced diffusion training sdxl lora
  examples/advanced_diffusion_training/train_dreambooth_lora_sdxl_advanced.py
Labels: stale

#11156 Fixed requests.get function call by adding timeout parameter.
  examples/instruct_pix2pix/train_instruct_pix2pix.py
  examples/research_projects/instructpix2pix_lora/train_instruct_pix2pix_lora.py
  examples/research_projects/promptdiffusion/convert_original_promptdiffusion_to_diffusers.py
  scripts/convert_dance_diffusion_to_diffusers.py
  scripts/convert_vae_pt_to_diffusers.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/pipelines/stable_diffusion/convert_from_ckpt.py
  src/diffusers/utils/constants.py
  src/diffusers/utils/loading_utils.py
  src/diffusers/utils/testing_utils.py
  utils/fetch_latest_release_branch.py
  utils/notify_slack_about_release.py
Labels: close-to-merge

#10603 [feat]Add strength in flux_fill pipeline (denoising strength for fluxfill)
  src/diffusers/pipelines/flux/pipeline_flux_fill.py
Labels: close-to-merge

#11174 [LTX0.9.5] Refactor `LTXConditionPipeline` for text-only conditioning
  docs/source/en/api/pipelines/ltx_video.md
  src/diffusers/pipelines/ltx/pipeline_ltx_condition.py
Labels: close-to-merge

#8391 ensure dtype match between diffused latents and vae weights
  src/diffusers/pipelines/pixart_alpha/pipeline_pixart_sigma.py
Labels: stale

#9453 [LoRA] Implement hot-swapping of LoRA
  docs/source/en/using-diffusers/loading_adapters.md
  src/diffusers/loaders/lora_base.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  tests/models/test_modeling_common.py
  tests/pipelines/test_pipelines.py
Labels: close-to-merge

#11111 [Flux LoRA] fix issues in flux lora scripts
  examples/advanced_diffusion_training/requirements.txt
  examples/advanced_diffusion_training/train_dreambooth_lora_flux_advanced.py
  examples/dreambooth/train_dreambooth_flux.py
  examples/dreambooth/train_dreambooth_lora_flux.py
Labels: bug, training

#11238 fix: SD3 ControlNet validation so that it runs on a A100.
  examples/controlnet/train_controlnet_sd3.py
Labels: training

#11115 AutoModel
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/auto_model.py
  src/diffusers/utils/dummy_pt_objects.py
  tests/models/test_modeling_common.py
Labels: roadmap

#11288 fix CPU offloading related fail cases on XPU
  src/diffusers/pipelines/pipeline_utils.py
  src/diffusers/utils/torch_utils.py
  tests/pipelines/test_pipelines.py
Labels: close-to-merge

#11297 Rewrite AuraFlowPatchEmbed.pe_selection_index_based_on_dim to be torch.compile compatible
  src/diffusers/models/transformers/auraflow_transformer_2d.py
Labels: Good Example PR, torch.compile

#11296 [Hi Dream] follow-up
  src/diffusers/models/transformers/transformer_hidream_image.py
  src/diffusers/pipelines/hidream_image/pipeline_hidream_image.py
  tests/pipelines/hidream/test_pipeline_hidream.py
Labels: close-to-merge

#11350 Update controlnet_flux.py
  src/diffusers/models/controlnets/controlnet_flux.py
Labels: close-to-merge

#11332 enable 2 test cases on XPU
  tests/quantization/bnb/test_mixed_int8.py
  tests/quantization/utils.py
Labels: close-to-merge

#11356 [BNB] Fix test_moving_to_cpu_throws_warning
  src/diffusers/pipelines/pipeline_utils.py
Labels: close-to-merge

#11353 support Wan-FLF2V
  docs/source/en/api/pipelines/wan.md
  scripts/convert_wan_to_diffusers.py
  src/diffusers/models/transformers/transformer_wan.py
  src/diffusers/pipelines/wan/pipeline_wan_i2v.py
  tests/pipelines/wan/test_wan_image_to_video.py
Labels: close-to-merge

#11349 [cogview4][feat] Support attention mechanism with variable-length support and batch packing
  src/diffusers/models/transformers/transformer_cogview4.py
Labels: close-to-merge

#11372 Kolors additional pipelines, community contrib
  examples/community/pipeline_controlnet_xl_kolors.py
  examples/community/pipeline_controlnet_xl_kolors_img2img.py
  examples/community/pipeline_controlnet_xl_kolors_inpaint.py
  examples/community/pipeline_kolors_inpainting.py
  src/diffusers/loaders/lora_conversion_utils.py
  src/diffusers/pipelines/pipeline_flax_utils.py
  src/diffusers/pipelines/pipeline_loading_utils.py
  tests/pipelines/stable_diffusion_2/test_stable_diffusion_diffedit.py
Labels: close-to-merge

#11085 [tests] add tests to check for graph breaks, recompilation, cuda syncs in pipelines during torch.compile()
  .github/workflows/nightly_tests.yml
  .github/workflows/release_tests_fast.yml
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_flux.py
  tests/pipelines/test_pipelines_common.py
Labels: torch.compile

#11397 Fixing missing provider options argument
  src/diffusers/pipelines/onnx_utils.py
Labels: close-to-merge

#11457 `torch.compile` fullgraph compatibility for Hunyuan Video
  src/diffusers/models/transformers/transformer_hunyuan_video.py
Labels: performance, torch.compile

#11328 Add generic support for Intel Gaudi accelerator (hpu device)
  src/diffusers/pipelines/pipeline_utils.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/import_utils.py
Labels: close-to-merge
