Repository huggingface/diffusers, pull requests merged in 2025-05, with the labels that each got.

#11475 [WAN] fix recompilation issues
  src/diffusers/models/transformers/transformer_wan.py
  tests/models/transformers/test_models_transformer_wan.py
Labels: performance, torch.compile

#11494 [training] feat: enable quantization for hidream lora training.
  examples/dreambooth/README_hidream.md
  examples/dreambooth/train_dreambooth_lora_hidream.py
  src/diffusers/quantizers/quantization_config.py
Labels: training

#11487 [lora_conversion] Enhance key handling for OneTrainer components in LORA conversion utility (#11441)
  src/diffusers/loaders/lora_conversion_utils.py
Labels: close-to-merge

#10660 Cosmos
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoderkl_cosmos.md
  docs/source/en/api/models/cosmos_transformer3d.md
  docs/source/en/api/pipelines/cosmos.md
  scripts/convert_cosmos_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_kl_cosmos.py
  src/diffusers/models/autoencoders/vae.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_cosmos.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/cosmos/__init__.py
  src/diffusers/pipelines/cosmos/pipeline_cosmos_text2world.py
  src/diffusers/pipelines/cosmos/pipeline_cosmos_video2world.py
  src/diffusers/pipelines/cosmos/pipeline_output.py
  src/diffusers/schedulers/scheduling_cosine_dpmsolver_multistep.py
  src/diffusers/schedulers/scheduling_edm_dpmsolver_multistep.py
  src/diffusers/schedulers/scheduling_edm_euler.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  src/diffusers/utils/import_utils.py
  tests/models/autoencoders/test_models_autoencoder_cosmos.py
  tests/models/transformers/test_models_transformer_cosmos.py
  tests/pipelines/cosmos/__init__.py
  tests/pipelines/cosmos/cosmos_guardrail.py
  tests/pipelines/cosmos/test_cosmos.py
  tests/pipelines/cosmos/test_cosmos_video2world.py
  tests/pipelines/test_pipelines_common.py
Labels: close-to-merge, roadmap

#11322 [Tests] Enable more general testing for `torch.compile()` with LoRA hotswapping
  .github/workflows/nightly_tests.yml
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_flux.py
  tests/models/unets/test_models_unet_2d_condition.py
Labels: lora, torch.compile

#11377 Add VisualCloze
  docs/source/en/_toctree.yml
  docs/source/en/api/pipelines/overview.md
  docs/source/en/api/pipelines/visualcloze.md
  src/diffusers/__init__.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/visualcloze/__init__.py
  src/diffusers/pipelines/visualcloze/pipeline_visualcloze_combined.py
  src/diffusers/pipelines/visualcloze/pipeline_visualcloze_generation.py
  src/diffusers/pipelines/visualcloze/visualcloze_utils.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/visualcloze/__init__.py
  tests/pipelines/visualcloze/test_pipeline_visualcloze_combined.py
  tests/pipelines/visualcloze/test_pipeline_visualcloze_generation.py
Labels: close-to-merge

#11550 [Single File] GGUF/Single File Support for HiDream
  docs/source/en/api/models/hidream_image_transformer.md
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/transformers/transformer_hidream_image.py
  src/diffusers/pipelines/hidream_image/pipeline_hidream_image.py
  tests/quantization/gguf/test_gguf.py
Labels: close-to-merge

#11508 [tests] Changes to the `torch.compile()` CI and tests
  .github/workflows/benchmark.yml
  .github/workflows/build_docker_images.yml
  .github/workflows/nightly_tests.yml
  .github/workflows/push_tests.yml
  .github/workflows/release_tests_fast.yml
  docker/diffusers-pytorch-compile-cuda/Dockerfile
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_hunyuan_video.py
  tests/models/transformers/test_models_transformer_wan.py
  tests/pipelines/controlnet/test_controlnet.py
  tests/pipelines/controlnet_xs/test_controlnetxs.py
  tests/pipelines/stable_diffusion/test_stable_diffusion.py
  tests/pipelines/stable_diffusion/test_stable_diffusion_img2img.py
  tests/pipelines/stable_diffusion/test_stable_diffusion_inpaint.py
  tests/pipelines/test_pipelines.py
  tests/pipelines/test_pipelines_common.py
  tests/pipelines/unidiffuser/test_unidiffuser.py
Labels: torch.compile
