Repository huggingface/diffusers, pull requests merged in 2025-07, with the labels that each got.

#11820 update: FluxKontextInpaintPipeline support
  src/diffusers/__init__.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/flux/__init__.py
  src/diffusers/pipelines/flux/pipeline_flux_kontext_inpaint.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/pipelines/flux/test_pipeline_flux_kontext_inpaint.py
Labels: close-to-merge

#11763 Avoid creating tensor in CosmosAttnProcessor2_0 (#11761)
  src/diffusers/models/transformers/transformer_cosmos.py
Labels: close-to-merge

#11909 Fix: Align VAE processing in ControlNet SD3 training with inference
  examples/controlnet/train_controlnet_sd3.py
Labels: close-to-merge

#11923 Fixed bug: Uncontrolled recursive calls that caused an infinite loop when loading certain pipelines containing Transformer2DModel
  src/diffusers/configuration_utils.py
  src/diffusers/models/modeling_utils.py
Labels: close-to-merge

#11908 enable flux pipeline compatible with unipc and dpm-solver
  src/diffusers/pipelines/flux/pipeline_flux.py
  src/diffusers/schedulers/scheduling_deis_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_multistep.py
  src/diffusers/schedulers/scheduling_dpmsolver_singlestep.py
  src/diffusers/schedulers/scheduling_unipc_multistep.py
Labels: scheduler, close-to-merge

#11916 [refactor] Flux/Chroma single file implementation + Attention Dispatcher
  src/diffusers/__init__.py
  src/diffusers/hooks/faster_cache.py
  src/diffusers/hooks/pyramid_attention_broadcast.py
  src/diffusers/loaders/ip_adapter.py
  src/diffusers/loaders/transformer_flux.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention.py
  src/diffusers/models/attention_dispatch.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/transformer_chroma.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/constants.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/import_utils.py
  tests/pipelines/chroma/test_pipeline_chroma.py
  tests/pipelines/chroma/test_pipeline_chroma_img2img.py
  tests/pipelines/controlnet_flux/test_controlnet_flux_img2img.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/flux/test_pipeline_flux_control.py
  tests/pipelines/flux/test_pipeline_flux_control_inpaint.py
  tests/pipelines/test_pipelines_common.py
Labels: roadmap

#11921 Fix kontext finetune issue when batch size >1
  examples/dreambooth/train_dreambooth_lora_flux_kontext.py
Labels: close-to-merge
