Repository huggingface/diffusers, pull requests merged in 2025-02, with the labels that each got.

#10401 [bitsandbytes] Simplify bnb int8 dequant
  src/diffusers/quantizers/bitsandbytes/utils.py
Labels: roadmap

#10417 [Community] Enhanced `Model Search`
  examples/model_search/README.md
  examples/model_search/pipeline_easy.py
Labels: close-to-merge

#10642 Add support for lumina2
  docs/source/en/_toctree.yml
  docs/source/en/api/models/lumina2_transformer2d.md
  docs/source/en/api/pipelines/lumina2.md
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention.py
  src/diffusers/models/normalization.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/lumina_nextdit2d.py
  src/diffusers/models/transformers/transformer_lumina2.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/lumina2/__init__.py
  src/diffusers/pipelines/lumina2/pipeline_lumina2.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/transformers/test_models_transformer_lumina2.py
  tests/pipelines/lumina2/__init__.py
  tests/pipelines/lumina2/test_pipeline_lumina2.py
Labels: close-to-merge, roadmap

#10503 Module Group Offloading
  docs/source/en/api/utilities.md
  docs/source/en/optimization/memory.md
  src/diffusers/hooks/__init__.py
  src/diffusers/hooks/group_offloading.py
  src/diffusers/models/autoencoders/autoencoder_oobleck.py
  src/diffusers/models/autoencoders/consistency_decoder_vae.py
  src/diffusers/models/autoencoders/vq_model.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/dit_transformer_2d.py
  src/diffusers/models/transformers/hunyuan_transformer_2d.py
  src/diffusers/pipelines/pipeline_utils.py
  tests/hooks/test_group_offloading.py
  tests/models/test_modeling_common.py
  tests/pipelines/allegro/test_allegro.py
  tests/pipelines/amused/test_amused.py
  tests/pipelines/animatediff/test_animatediff.py
  tests/pipelines/aura_flow/test_pipeline_aura_flow.py
  tests/pipelines/cogvideo/test_cogvideox.py
  tests/pipelines/cogvideo/test_cogvideox_fun_control.py
  tests/pipelines/cogview3/test_cogview3plus.py
  tests/pipelines/consisid/test_consisid.py
  tests/pipelines/controlnet/test_controlnet.py
  tests/pipelines/controlnet/test_controlnet_sdxl.py
  tests/pipelines/controlnet_flux/test_controlnet_flux.py
  tests/pipelines/controlnet_sd3/test_controlnet_sd3.py
  tests/pipelines/controlnet_xs/test_controlnetxs.py
  tests/pipelines/controlnet_xs/test_controlnetxs_sdxl.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/flux/test_pipeline_flux_control.py
  tests/pipelines/flux/test_pipeline_flux_fill.py
  tests/pipelines/hunyuan_video/test_hunyuan_video.py
  tests/pipelines/latte/test_latte.py
  tests/pipelines/ltx/test_ltx.py
  tests/pipelines/lumina/test_lumina_nextdit.py
  tests/pipelines/mochi/test_mochi.py
  tests/pipelines/pia/test_pia.py
  tests/pipelines/pixart_alpha/test_pixart.py
  tests/pipelines/pixart_sigma/test_pixart.py
  tests/pipelines/sana/test_sana.py
  tests/pipelines/stable_diffusion/test_stable_diffusion.py
  tests/pipelines/stable_diffusion_2/test_stable_diffusion.py
  tests/pipelines/stable_diffusion_3/test_pipeline_stable_diffusion_3.py
  tests/pipelines/stable_diffusion_xl/test_stable_diffusion_xl.py
  tests/pipelines/test_pipelines_common.py
Labels: close-to-merge, roadmap

#10784 [FIX] check_inputs function in lumina2
  src/diffusers/pipelines/lumina2/pipeline_lumina2.py
Labels: close-to-merge

#10649 CogView4 (supports different length c and uc)
  docs/source/en/_toctree.yml
  docs/source/en/api/models/cogview4_transformer2d.md
  docs/source/en/api/pipelines/cogview4.md
  scripts/convert_cogview4_to_diffusers.py
  scripts/convert_cogview4_to_diffusers_megatron.py
  setup.py
  src/diffusers/__init__.py
  src/diffusers/dependency_versions_table.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_cogview4.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/cogview4/__init__.py
  src/diffusers/pipelines/cogview4/pipeline_cogview4.py
  src/diffusers/pipelines/cogview4/pipeline_output.py
  src/diffusers/schedulers/scheduling_flow_match_euler_discrete.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/transformers/test_models_transformer_cogview4.py
  tests/pipelines/cogview4/__init__.py
  tests/pipelines/cogview4/test_cogview4.py
Labels: close-to-merge, roadmap

#10592 [chore] update notes generation spaces
  setup.py
Labels: stale

#10274 [misc] feat: introduce a style bot.
  .github/workflows/pr_style_bot.yml
  .github/workflows/pr_tests.yml
Labels: roadmap

#10818 [LoRA] add LoRA support to Lumina2 and fine-tuning script
  docs/source/en/api/loaders/lora.md
  examples/dreambooth/README_lumina2.md
  examples/dreambooth/test_dreambooth_lora_lumina2.py
  examples/dreambooth/train_dreambooth_lora_lumina2.py
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/transformers/transformer_lumina2.py
  src/diffusers/pipelines/lumina2/pipeline_lumina2.py
  tests/lora/test_lora_layers_lumina2.py
Labels: lora, roadmap

#10881 [refactor] Remove additional Flux code
  src/diffusers/models/transformers/transformer_flux.py
Labels: close-to-merge

#10880 Fix Callback Tensor Inputs of the SDXL Controlnet Inpaint and Img2img Pipelines are missing "controlnet_image".
  src/diffusers/pipelines/controlnet/pipeline_controlnet_inpaint_sd_xl.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_sd_xl_img2img.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_union_inpaint_sd_xl.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_union_sd_xl_img2img.py
Labels: close-to-merge
