Repository huggingface/diffusers, pull requests merged in 2025-03, with the labels that each got.

#10922 [Alibaba Wan Team] continue on #10921 Wan2.1
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoder_kl_wan.md
  docs/source/en/api/models/wan_transformer_3d.md
  docs/source/en/api/pipelines/wan.md
  scripts/convert_wan_to_diffusers.py
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_kl_wan.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_wan.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/wan/__init__.py
  src/diffusers/pipelines/wan/pipeline_output.py
  src/diffusers/pipelines/wan/pipeline_wan.py
  src/diffusers/pipelines/wan/pipeline_wan_i2v.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/autoencoders/test_models_autoencoder_wan.py
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_wan.py
  tests/pipelines/wan/__init__.py
  tests/pipelines/wan/test_wan.py
  tests/pipelines/wan/test_wan_image_to_video.py
Labels: roadmap

#10626 Add EasyAnimateV5.1 text-to-video, image-to-video, control-to-video generation model
  docs/source/en/_toctree.yml
  docs/source/en/api/models/autoencoderkl_magvit.md
  docs/source/en/api/models/easyanimate_transformer3d.md
  docs/source/en/api/pipelines/easyanimate.md
  src/diffusers/__init__.py
  src/diffusers/models/__init__.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/autoencoders/__init__.py
  src/diffusers/models/autoencoders/autoencoder_kl_magvit.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/transformer_easyanimate.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/easyanimate/__init__.py
  src/diffusers/pipelines/easyanimate/pipeline_easyanimate.py
  src/diffusers/pipelines/easyanimate/pipeline_easyanimate_control.py
  src/diffusers/pipelines/easyanimate/pipeline_easyanimate_inpaint.py
  src/diffusers/pipelines/easyanimate/pipeline_output.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/autoencoders/test_models_autoencoder_magvit.py
  tests/models/test_modeling_common.py
  tests/models/transformers/test_models_transformer_easyanimate.py
  tests/pipelines/easyanimate/__init__.py
  tests/pipelines/easyanimate/test_easyanimate.py
Labels: close-to-merge, roadmap

#10945 Fix redundant prev_output_channel assignment in UNet2DModel
  src/diffusers/models/unets/unet_2d.py
Labels: close-to-merge

#10948 Improve load_ip_adapter RAM Usage
  src/diffusers/loaders/ip_adapter.py
Labels: close-to-merge

#10909 [LoRA] feat: support non-diffusers lumina2 LoRAs.
  src/diffusers/loaders/lora_conversion_utils.py
  src/diffusers/loaders/lora_pipeline.py
Labels: lora, roadmap

#10943 [LoRA] Support Wan
  src/diffusers/loaders/__init__.py
  src/diffusers/loaders/lora_pipeline.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/transformers/transformer_wan.py
  src/diffusers/pipelines/wan/pipeline_wan.py
  src/diffusers/pipelines/wan/pipeline_wan_i2v.py
  tests/lora/test_lora_layers_wan.py
  tests/lora/utils.py
  tests/pipelines/wan/test_wan_image_to_video.py
Labels: roadmap

#10975 fix wan i2v pipeline bugs
  src/diffusers/pipelines/wan/pipeline_wan.py
  src/diffusers/pipelines/wan/pipeline_wan_i2v.py
Labels: close-to-merge

#10960 Add STG to community pipelines
  examples/community/README.md
  examples/community/pipeline_stg_cogvideox.py
  examples/community/pipeline_stg_hunyuan_video.py
  examples/community/pipeline_stg_ltx.py
  examples/community/pipeline_stg_ltx_image2video.py
  examples/community/pipeline_stg_mochi.py
Labels: consider-for-modular-diffusers

#10646 Fix for fetching variants only
  src/diffusers/pipelines/pipeline_loading_utils.py
  src/diffusers/pipelines/pipeline_utils.py
  tests/pipelines/test_pipeline_utils.py
Labels: roadmap

#10756 [Quantization] Add Quanto backend
  .github/workflows/nightly_tests.yml
  docs/source/en/_toctree.yml
  docs/source/en/api/quantization.md
  docs/source/en/quantization/overview.md
  docs/source/en/quantization/quanto.md
  setup.py
  src/diffusers/__init__.py
  src/diffusers/dependency_versions_table.py
  src/diffusers/models/model_loading_utils.py
  src/diffusers/quantizers/auto.py
  src/diffusers/quantizers/quantization_config.py
  src/diffusers/quantizers/quanto/__init__.py
  src/diffusers/quantizers/quanto/quanto_quantizer.py
  src/diffusers/quantizers/quanto/utils.py
  src/diffusers/utils/__init__.py
  src/diffusers/utils/dummy_bitsandbytes_objects.py
  src/diffusers/utils/dummy_gguf_objects.py
  src/diffusers/utils/dummy_optimum_quanto_objects.py
  src/diffusers/utils/dummy_torchao_objects.py
  src/diffusers/utils/import_utils.py
  tests/quantization/quanto/test_quanto.py
Labels: roadmap

#10947 [Single File] Add single file loading for SANA Transformer
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/transformers/sana_transformer.py
  tests/single_file/test_sana_transformer.py
Labels: close-to-merge

#10820 Fix aclnnRepeatInterleaveIntWithDim error on NPU for get_1d_rotary_pos_embed
  src/diffusers/models/embeddings.py
Labels: close-to-merge

#10163 [core] FasterCache
  docs/source/en/api/cache.md
  src/diffusers/__init__.py
  src/diffusers/hooks/__init__.py
  src/diffusers/hooks/faster_cache.py
  src/diffusers/hooks/pyramid_attention_broadcast.py
  src/diffusers/models/cache_utils.py
  src/diffusers/models/embeddings.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/pipelines/latte/pipeline_latte.py
  src/diffusers/utils/dummy_pt_objects.py
  tests/pipelines/cogvideo/test_cogvideox.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/hunyuan_video/test_hunyuan_video.py
  tests/pipelines/latte/test_latte.py
  tests/pipelines/mochi/test_mochi.py
  tests/pipelines/test_pipelines_common.py
Labels: performance, roadmap
