Repository huggingface/diffusers, pull requests merged in 2025-01, with the labels that each got.

#10363 IP-Adapter support for `StableDiffusion3ControlNetPipeline`
  src/diffusers/pipelines/controlnet_sd3/pipeline_stable_diffusion_3_controlnet.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3.py
  tests/pipelines/controlnet_sd3/test_controlnet_sd3.py
Labels: close-to-merge

#10476 Regarding the RunwayML path for V1.5 did change to stable-diffusion-v1-5/[stable-diffusion-v1-5/ stable-diffusion-inpainting]
  examples/advanced_diffusion_training/train_dreambooth_lora_sd15_advanced.py
  scripts/convert_blipdiffusion_to_diffusers.py
  src/diffusers/loaders/single_file.py
  src/diffusers/loaders/textual_inversion.py
  src/diffusers/models/autoencoders/consistency_decoder_vae.py
  src/diffusers/pipelines/auto_pipeline.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_img2img.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_inpaint.py
  src/diffusers/pipelines/controlnet/pipeline_controlnet_inpaint_sd_xl.py
  src/diffusers/pipelines/controlnet/pipeline_flax_controlnet.py
  src/diffusers/pipelines/pipeline_flax_utils.py
  src/diffusers/pipelines/pipeline_loading_utils.py
  src/diffusers/pipelines/pipeline_utils.py
  src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion.py
  src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion_img2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion/pipeline_onnx_stable_diffusion_img2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_onnx_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_depth2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_image_variation.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_img2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_instruct_pix2pix.py
  src/diffusers/pipelines/stable_diffusion_attend_and_excite/pipeline_stable_diffusion_attend_and_excite.py
  src/diffusers/pipelines/stable_diffusion_diffedit/pipeline_stable_diffusion_diffedit.py
  src/diffusers/pipelines/stable_diffusion_gligen/pipeline_stable_diffusion_gligen.py
  src/diffusers/pipelines/stable_diffusion_gligen/pipeline_stable_diffusion_gligen_text_image.py
  src/diffusers/pipelines/stable_diffusion_k_diffusion/pipeline_stable_diffusion_k_diffusion.py
  src/diffusers/pipelines/stable_diffusion_ldm3d/pipeline_stable_diffusion_ldm3d.py
  src/diffusers/pipelines/stable_diffusion_panorama/pipeline_stable_diffusion_panorama.py
  src/diffusers/pipelines/stable_diffusion_safe/pipeline_stable_diffusion_safe.py
  src/diffusers/pipelines/stable_diffusion_sag/pipeline_stable_diffusion_sag.py
  src/diffusers/pipelines/t2i_adapter/pipeline_stable_diffusion_adapter.py
  src/diffusers/pipelines/t2i_adapter/pipeline_stable_diffusion_xl_adapter.py
  src/diffusers/pipelines/text_to_video_synthesis/pipeline_text_to_video_zero.py
Labels: close-to-merge

#10463 Add AuraFlow GGUF support
  docs/source/en/api/pipelines/aura_flow.md
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/transformers/auraflow_transformer_2d.py
  src/diffusers/quantizers/gguf/utils.py
  tests/quantization/gguf/test_gguf.py
Labels: roadmap

#10384 flux: make scheduler config params optional
  examples/community/pipeline_flux_differential_img2img.py
  examples/community/pipeline_flux_rf_inversion.py
  examples/community/pipeline_flux_with_cfg.py
  src/diffusers/pipelines/flux/pipeline_flux.py
  src/diffusers/pipelines/flux/pipeline_flux_control.py
  src/diffusers/pipelines/flux/pipeline_flux_control_img2img.py
  src/diffusers/pipelines/flux/pipeline_flux_control_inpaint.py
  src/diffusers/pipelines/flux/pipeline_flux_controlnet.py
  src/diffusers/pipelines/flux/pipeline_flux_controlnet_image_to_image.py
  src/diffusers/pipelines/flux/pipeline_flux_controlnet_inpainting.py
  src/diffusers/pipelines/flux/pipeline_flux_fill.py
  src/diffusers/pipelines/flux/pipeline_flux_img2img.py
  src/diffusers/pipelines/flux/pipeline_flux_inpaint.py
  src/diffusers/pipelines/ltx/pipeline_ltx.py
  src/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  src/diffusers/pipelines/mochi/pipeline_mochi.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3_img2img.py
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3_inpaint.py
Labels: roadmap

#10456 Support pass kwargs to cogvideox custom attention processor
  src/diffusers/models/transformers/cogvideox_transformer_3d.py
Labels: close-to-merge

#10440 Use Pipelines without unet
  examples/community/adaptive_mask_inpainting.py
  examples/community/composable_stable_diffusion.py
  examples/community/instaflow_one_step.py
  examples/community/ip_adapter_face_id.py
  examples/community/llm_grounded_diffusion.py
  examples/community/lpw_stable_diffusion.py
  examples/community/lpw_stable_diffusion_xl.py
  examples/community/matryoshka.py
  examples/community/pipeline_demofusion_sdxl.py
  examples/community/pipeline_fabric.py
  examples/community/pipeline_kolors_differential_img2img.py
  examples/community/pipeline_prompt2prompt.py
  examples/community/pipeline_sdxl_style_aligned.py
  examples/community/pipeline_stable_diffusion_boxdiff.py
  examples/community/pipeline_stable_diffusion_pag.py
  examples/community/pipeline_stable_diffusion_xl_controlnet_adapter.py
  examples/community/pipeline_stable_diffusion_xl_controlnet_adapter_inpaint.py
  examples/community/pipeline_stable_diffusion_xl_ipex.py
  examples/community/pipeline_zero1to3.py
  examples/community/stable_diffusion_ipex.py
  examples/community/stable_diffusion_reference.py
  examples/community/stable_diffusion_repaint.py
  examples/community/stable_diffusion_tensorrt_img2img.py
  examples/community/stable_diffusion_tensorrt_inpaint.py
  examples/community/stable_diffusion_tensorrt_txt2img.py
  src/diffusers/pipelines/animatediff/pipeline_animatediff_sdxl.py
  src/diffusers/pipelines/deepfloyd_if/pipeline_if_img2img_superresolution.py
  src/diffusers/pipelines/deepfloyd_if/pipeline_if_inpainting_superresolution.py
  src/diffusers/pipelines/deepfloyd_if/pipeline_if_superresolution.py
  src/diffusers/pipelines/deprecated/alt_diffusion/pipeline_alt_diffusion.py
  src/diffusers/pipelines/deprecated/alt_diffusion/pipeline_alt_diffusion_img2img.py
  src/diffusers/pipelines/deprecated/stable_diffusion_variants/pipeline_cycle_diffusion.py
  src/diffusers/pipelines/deprecated/stable_diffusion_variants/pipeline_stable_diffusion_inpaint_legacy.py
  src/diffusers/pipelines/kolors/pipeline_kolors.py
  src/diffusers/pipelines/kolors/pipeline_kolors_img2img.py
  src/diffusers/pipelines/ledits_pp/pipeline_leditspp_stable_diffusion.py
  src/diffusers/pipelines/ledits_pp/pipeline_leditspp_stable_diffusion_xl.py
  src/diffusers/pipelines/pag/pipeline_pag_kolors.py
  src/diffusers/pipelines/pag/pipeline_pag_sd.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_img2img.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_inpaint.py
  src/diffusers/pipelines/pag/pipeline_pag_sd_xl.py
  src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion.py
  src/diffusers/pipelines/stable_diffusion/pipeline_flax_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_depth2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_image_variation.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_img2img.py
  src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion_inpaint.py
  src/diffusers/pipelines/stable_diffusion_diffedit/pipeline_stable_diffusion_diffedit.py
  src/diffusers/pipelines/stable_diffusion_k_diffusion/pipeline_stable_diffusion_xl_k_diffusion.py
  src/diffusers/pipelines/stable_diffusion_safe/pipeline_stable_diffusion_safe.py
  src/diffusers/pipelines/stable_diffusion_xl/pipeline_stable_diffusion_xl.py
  src/diffusers/pipelines/stable_diffusion_xl/pipeline_stable_diffusion_xl_instruct_pix2pix.py
  src/diffusers/pipelines/t2i_adapter/pipeline_stable_diffusion_xl_adapter.py
  src/diffusers/pipelines/text_to_video_synthesis/pipeline_text_to_video_zero_sdxl.py
Labels: close-to-merge

#10305 Add a `disable_mmap` option to the `from_single_file` loader to improve load performance on network mounts
  src/diffusers/loaders/single_file.py
  src/diffusers/loaders/single_file_model.py
  src/diffusers/loaders/single_file_utils.py
  src/diffusers/models/model_loading_utils.py
  src/diffusers/models/modeling_utils.py
Labels: close-to-merge, roadmap

#10561 Added IP-Adapter for `StableDiffusion3ControlNetInpaintingPipeline`
  src/diffusers/pipelines/controlnet_sd3/pipeline_stable_diffusion_3_controlnet_inpainting.py
  tests/pipelines/controlnet_sd3/test_controlnet_inpaint_sd3.py
Labels: close-to-merge, roadmap

#10506 Test sequential cpu offload for torchao quantization
  tests/quantization/torchao/test_torchao.py
Labels: close-to-merge

#10546 allow passing hf_token to load_textual_inversion
  src/diffusers/loaders/textual_inversion.py
Labels: close-to-merge

#10537 [Sana-4K]
  src/diffusers/pipelines/pag/pipeline_pag_sana.py
  src/diffusers/pipelines/sana/pipeline_sana.py
Labels: close-to-merge

#10581 IP-Adapter for `StableDiffusion3InpaintPipeline`
  src/diffusers/pipelines/stable_diffusion_3/pipeline_stable_diffusion_3_inpaint.py
  tests/pipelines/stable_diffusion_3/test_pipeline_stable_diffusion_3_inpaint.py
Labels: close-to-merge

#10544 [Docs] Add documentation about using ParaAttention to optimize FLUX and HunyuanVideo
  docs/source/en/_toctree.yml
  docs/source/en/optimization/para_attn.md
Labels: roadmap

#10534 NPU adaption for RMSNorm
  src/diffusers/models/normalization.py
Labels: close-to-merge

#10515 implementing flux on TPUs with ptxla
  examples/research_projects/pytorch_xla/inference/flux/README.md
  examples/research_projects/pytorch_xla/inference/flux/flux_inference.py
  examples/research_projects/pytorch_xla/training/text_to_image/README.md
  examples/research_projects/pytorch_xla/training/text_to_image/requirements.txt
  examples/research_projects/pytorch_xla/training/text_to_image/train_text_to_image_xla.py
  src/diffusers/models/attention_processor.py
  src/diffusers/models/modeling_utils.py
Labels: close-to-merge

#10140 [core] ConsisID
  docs/source/en/_toctree.yml
  docs/source/en/api/models/consisid_transformer3d.md
  docs/source/en/api/pipelines/consisid.md
  docs/source/en/using-diffusers/consisid.md
  docs/source/zh/_toctree.yml
  docs/source/zh/consisid.md
  src/diffusers/__init__.py
  src/diffusers/loaders/peft.py
  src/diffusers/models/__init__.py
  src/diffusers/models/transformers/__init__.py
  src/diffusers/models/transformers/consisid_transformer_3d.py
  src/diffusers/pipelines/__init__.py
  src/diffusers/pipelines/consisid/__init__.py
  src/diffusers/pipelines/consisid/consisid_utils.py
  src/diffusers/pipelines/consisid/pipeline_consisid.py
  src/diffusers/pipelines/consisid/pipeline_output.py
  src/diffusers/utils/dummy_pt_objects.py
  src/diffusers/utils/dummy_torch_and_transformers_objects.py
  tests/models/transformers/test_models_transformer_consisid.py
  tests/pipelines/consisid/__init__.py
  tests/pipelines/consisid/test_consisid.py
Labels: roadmap

#10123 bugfix for npu not support float64
  examples/community/fresco_v2v.py
  examples/community/matryoshka.py
  examples/research_projects/pixart/pipeline_pixart_alpha_controlnet.py
  examples/research_projects/promptdiffusion/promptdiffusioncontrolnet.py
  src/diffusers/models/controlnets/controlnet.py
  src/diffusers/models/controlnets/controlnet_sparsectrl.py
  src/diffusers/models/controlnets/controlnet_union.py
  src/diffusers/models/controlnets/controlnet_xs.py
  src/diffusers/models/unets/unet_2d_condition.py
  src/diffusers/models/unets/unet_3d_condition.py
  src/diffusers/models/unets/unet_i2vgen_xl.py
  src/diffusers/models/unets/unet_motion_model.py
  src/diffusers/models/unets/unet_spatio_temporal_condition.py
  src/diffusers/pipelines/audioldm2/modeling_audioldm2.py
  src/diffusers/pipelines/deprecated/versatile_diffusion/modeling_text_unet.py
  src/diffusers/pipelines/dit/pipeline_dit.py
  src/diffusers/pipelines/latte/pipeline_latte.py
  src/diffusers/pipelines/lumina/pipeline_lumina.py
  src/diffusers/pipelines/pag/pipeline_pag_pixart_sigma.py
  src/diffusers/pipelines/pixart_alpha/pipeline_pixart_alpha.py
  src/diffusers/pipelines/pixart_alpha/pipeline_pixart_sigma.py
Labels: close-to-merge

#10437 [tests] make tests device-agnostic (part 3)
  src/diffusers/utils/testing_utils.py
  tests/models/test_modeling_common.py
  tests/pipelines/allegro/test_allegro.py
  tests/pipelines/animatediff/test_animatediff.py
  tests/pipelines/cogvideo/test_cogvideox.py
  tests/pipelines/cogvideo/test_cogvideox_image2video.py
  tests/pipelines/cogview3/test_cogview3plus.py
  tests/pipelines/controlnet/test_controlnet.py
  tests/pipelines/controlnet/test_controlnet_img2img.py
  tests/pipelines/controlnet/test_controlnet_inpaint.py
  tests/pipelines/controlnet/test_controlnet_sdxl.py
  tests/pipelines/controlnet/test_controlnet_sdxl_img2img.py
  tests/pipelines/controlnet_hunyuandit/test_controlnet_hunyuandit.py
  tests/pipelines/controlnet_xs/test_controlnetxs.py
  tests/pipelines/controlnet_xs/test_controlnetxs_sdxl.py
  tests/pipelines/ddim/test_ddim.py
  tests/pipelines/ddpm/test_ddpm.py
  tests/pipelines/deepfloyd_if/test_if.py
  tests/pipelines/deepfloyd_if/test_if_img2img.py
  tests/pipelines/deepfloyd_if/test_if_img2img_superresolution.py
  tests/pipelines/deepfloyd_if/test_if_inpainting.py
  tests/pipelines/deepfloyd_if/test_if_inpainting_superresolution.py
  tests/pipelines/deepfloyd_if/test_if_superresolution.py
  tests/pipelines/hunyuan_dit/test_hunyuan_dit.py
  tests/pipelines/i2vgen_xl/test_i2vgenxl.py
  tests/pipelines/test_pipelines.py
Labels: close-to-merge

#10629 width and height are mixed-up
  src/diffusers/pipelines/flux/pipeline_flux_controlnet_inpainting.py
Labels: close-to-merge

#10409 NPU Adaption for Sanna
  examples/dreambooth/train_dreambooth_lora_sana.py
  src/diffusers/models/attention_processor.py
Labels: close-to-merge

#10651 fix check_inputs func in LuminaText2ImgPipeline
  src/diffusers/pipelines/lumina/pipeline_lumina.py
Labels: close-to-merge

#10644 Revert RePaint scheduler 'fix'
  src/diffusers/schedulers/scheduling_repaint.py
Labels: close-to-merge

#9562 [core] Pyramid Attention Broadcast
  docs/source/en/_toctree.yml
  docs/source/en/api/cache.md
  src/diffusers/__init__.py
  src/diffusers/hooks/__init__.py
  src/diffusers/hooks/hooks.py
  src/diffusers/hooks/pyramid_attention_broadcast.py
  src/diffusers/models/__init__.py
  src/diffusers/models/cache_utils.py
  src/diffusers/models/transformers/cogvideox_transformer_3d.py
  src/diffusers/models/transformers/latte_transformer_3d.py
  src/diffusers/models/transformers/transformer_allegro.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/models/transformers/transformer_hunyuan_video.py
  src/diffusers/models/transformers/transformer_mochi.py
  src/diffusers/pipelines/allegro/pipeline_allegro.py
  src/diffusers/pipelines/cogvideo/pipeline_cogvideox.py
  src/diffusers/pipelines/cogvideo/pipeline_cogvideox_fun_control.py
  src/diffusers/pipelines/cogvideo/pipeline_cogvideox_image2video.py
  src/diffusers/pipelines/cogvideo/pipeline_cogvideox_video2video.py
  src/diffusers/pipelines/flux/pipeline_flux.py
  src/diffusers/pipelines/hunyuan_video/pipeline_hunyuan_video.py
  src/diffusers/pipelines/latte/pipeline_latte.py
  src/diffusers/pipelines/mochi/pipeline_mochi.py
  src/diffusers/pipelines/pipeline_utils.py
  src/diffusers/utils/dummy_pt_objects.py
  tests/hooks/test_hooks.py
  tests/pipelines/allegro/test_allegro.py
  tests/pipelines/cogvideo/test_cogvideox.py
  tests/pipelines/flux/test_pipeline_flux.py
  tests/pipelines/hunyuan_video/test_hunyuan_video.py
  tests/pipelines/latte/test_latte.py
  tests/pipelines/test_pipelines_common.py
Labels: roadmap

#10611 Refactor gradient checkpointing
  examples/community/matryoshka.py
  examples/research_projects/pixart/controlnet_pixart_alpha.py
  src/diffusers/models/autoencoders/autoencoder_kl.py
  src/diffusers/models/autoencoders/autoencoder_kl_allegro.py
  src/diffusers/models/autoencoders/autoencoder_kl_cogvideox.py
  src/diffusers/models/autoencoders/autoencoder_kl_hunyuan_video.py
  src/diffusers/models/autoencoders/autoencoder_kl_ltx.py
  src/diffusers/models/autoencoders/autoencoder_kl_mochi.py
  src/diffusers/models/autoencoders/autoencoder_kl_temporal_decoder.py
  src/diffusers/models/autoencoders/autoencoder_tiny.py
  src/diffusers/models/autoencoders/vae.py
  src/diffusers/models/controlnets/controlnet.py
  src/diffusers/models/controlnets/controlnet_flux.py
  src/diffusers/models/controlnets/controlnet_sd3.py
  src/diffusers/models/controlnets/controlnet_sparsectrl.py
  src/diffusers/models/controlnets/controlnet_union.py
  src/diffusers/models/controlnets/controlnet_xs.py
  src/diffusers/models/modeling_utils.py
  src/diffusers/models/transformers/auraflow_transformer_2d.py
  src/diffusers/models/transformers/cogvideox_transformer_3d.py
  src/diffusers/models/transformers/consisid_transformer_3d.py
  src/diffusers/models/transformers/dit_transformer_2d.py
  src/diffusers/models/transformers/latte_transformer_3d.py
  src/diffusers/models/transformers/pixart_transformer_2d.py
  src/diffusers/models/transformers/sana_transformer.py
  src/diffusers/models/transformers/stable_audio_transformer.py
  src/diffusers/models/transformers/transformer_2d.py
  src/diffusers/models/transformers/transformer_allegro.py
  src/diffusers/models/transformers/transformer_cogview3plus.py
  src/diffusers/models/transformers/transformer_flux.py
  src/diffusers/models/transformers/transformer_hunyuan_video.py
  src/diffusers/models/transformers/transformer_ltx.py
  src/diffusers/models/transformers/transformer_mochi.py
  src/diffusers/models/transformers/transformer_sd3.py
  src/diffusers/models/transformers/transformer_temporal.py
  src/diffusers/models/unets/unet_2d.py
  src/diffusers/models/unets/unet_2d_blocks.py
  src/diffusers/models/unets/unet_2d_condition.py
  src/diffusers/models/unets/unet_3d_blocks.py
  src/diffusers/models/unets/unet_3d_condition.py
  src/diffusers/models/unets/unet_i2vgen_xl.py
  src/diffusers/models/unets/unet_kandinsky3.py
  src/diffusers/models/unets/unet_motion_model.py
  src/diffusers/models/unets/unet_spatio_temporal_condition.py
  src/diffusers/models/unets/unet_stable_cascade.py
  src/diffusers/models/unets/uvit_2d.py
  src/diffusers/pipelines/audioldm2/modeling_audioldm2.py
  src/diffusers/pipelines/blip_diffusion/modeling_blip2.py
  src/diffusers/pipelines/deprecated/versatile_diffusion/modeling_text_unet.py
  src/diffusers/pipelines/kolors/text_encoder.py
  src/diffusers/pipelines/latent_diffusion/pipeline_latent_diffusion.py
  src/diffusers/pipelines/wuerstchen/modeling_wuerstchen_prior.py
  tests/models/test_modeling_common.py
Labels: roadmap

#10552 support StableDiffusionAdapterPipeline.from_single_file
  src/diffusers/pipelines/t2i_adapter/pipeline_stable_diffusion_adapter.py
Labels: close-to-merge

#10678 [FIX] check_inputs function in Auraflow Pipeline
  src/diffusers/pipelines/aura_flow/pipeline_aura_flow.py
Labels: close-to-merge
